  <%- partial('_partial/head') %>
  <body>
    <div class="container">
      <%- partial('_partial/header') %>

    </div>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>
  </body>
</html>