<aside id="aside" class="pure-u-1-4 hidden_mid_and_down">
    <div class="sidebar">
        <div class="sidebar-item">
            <form class="form-search" target="_blank">
                <input type="text" maxlength="20" placeholder="Search">
                <input type="hidden">
            </form>
        </div>
        <div class="sidebar-item">
            <div class="sidebar-item-title">
                <i class="fa fa-folder-o"> 分类</i>
            </div>
            <ul class="category-list">
                <li class="category-list-item">
                    <a href="#" class="category-list-link">
                        hello
                    </a>
                </li>
                <li class="category-list-item">
                    <a href="#" class="category-list-link">
                        world
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">

        </div>

    </div>
</aside>