<footer class="pure-u-1 pure-u-md-3-4">
    <div id="footer">
            Copyright © 
            keyarea
            2018 
            <br>
            Theme by 
            <a href="https://github.com/keyarea" target="_blank">keyarea</a>
            <i class="fa fa-heart"></i>
            re-Ported by
            <a href="https://github.com/keyarea" target="_blank">keyarea</a>
            <br>
            <a href="https://github.com/keyarea/hexo-theme-loong" target="_blank">
                <img src="https://img.shields.io/github/stars/keyarea/hexo-theme-loong.svg?style=social">
            </a>
              
            <a href="https://github.com/keyarea/hexo-theme-loong" target="_blank">
                <img src="https://img.shields.io/github/forks/keyarea/hexo-theme-loong.svg?style=social" alt="">
            </a>
               
            <a href="https://github.com/keyarea/hexo-theme-loong" target="_blank">
                <img src="https://img.shields.io/github/license/keyarea/hexo-theme-loong.svg?style=social">
            </a>


            <a href="https://github.com/keyarea" target="_blank">
                <img src="https://img.shields.io/github/followers/keyarea.svg?label=Follow&style=social" alt="">
            </a>

    </div>
</footer>