<header id="header" class="header clearfix header-color">
  <div class="navbar-header-left">
    <a href="" class="navbar-brand text-it"></a>
  </div>
  <div class="navbar-header-right">

  </div>
</header>