<header id="header" class="app-header clearfix navbar">
  <div class="navbar-left">
    <button class="visible-xs">
        <i class="fa fa-bars fa-la"></i>
    </button>
    <button class="visible-xs">
        <i class="fa fa-cog fa-la" ></i>
    </button>
    <a href="/" class="navbar-brand text-it">
      <i class="fa fa-key fa-la"></i>
      <span>Keyarea</span>
    </a>
  </div>
  <div class="navbar-right">

  </div>
</header>