@import 'color';
.header-color{
    color: $header-color;
    background-color: $header-bg-color;
}

.navbar {
    min-height: 50px;
    border: 1px solid transparent;
}

.navbar-left {
    > button {
        
    }
}


.app-header-fixed {
    padding-top: 50px;
    .app-header {
        position: fixed;
        top: 0;
        width: 100%;
    }
}